<h1>Interpolation and Event Binding</h1>
<form #starterForm="ngForm" (ngSubmit)="onSubmit()">
    First Name: <input type="text" class="form-control"
                       name="firstName" 
                       #firstName="ngModel"
                       [(ngModel)]="customer.firstName"
                       required />
    <br />
    <span *ngIf="!firstName.valid">First Name is required!</span>
    <br />
    <button class="btn btn-default" [disabled]="!starterForm.valid">Submit</button>
    <br/>
    {{ message }}
    <br />
    Valid: {{ firstName.valid}}
    <br />
    Touched: {{ firstName.touched }}

    <h2>Employee List</h2>

    <ul *ngFor="let employee of employees">
         <li> {{employee.name}} . {{employee.name}} - {{employee.age}}</li>
    </ul>

</form>